$defaultTagBackgrounds: #A3BE8C, #BF616A, #5E81AC, #EBCB8B, #B48EAD;
$defaultTagColors: #fff, #fff, #fff, #fff, #fff;

/*
*   Global style
*/
:root {
    --main-top-padding: 35px;

    @include respond(xl) {
        --main-top-padding: 50px;
    }

    --body-background: #E5E9F0;

    --accent-color: #434C5E;
    --accent-color-darker: #3B4252;
    --accent-color-text: #ECEFF4;
    --body-text-color: #4C566A;

    --tag-border-radius: 4px;

    --section-separation: 40px;

    --scrollbar-thumb: hsl(220, 14%, 71%);
    --scrollbar-track: var(--body-background);

    &[data-scheme="dark"] {
        --body-background: #2E3440;
        --accent-color: #D8DEE9;
        --accent-color-darker: #4C566A;
        --accent-color-text: #2E3440;
        --body-text-color: rgba(236, 239, 244, 0.7);
        --scrollbar-thumb: hsl(220, 14%, 31%);
        --scrollbar-track: var(--body-background);
    }
}

/**
*   Global font family
*/
:root {
    --sys-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Droid Sans", "Helvetica Neue";
    --zh-font-family: "PingFang SC", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei";

    --base-font-family: "Lato", var(--sys-font-family), var(--zh-font-family), sans-serif;
    --code-font-family: Menlo, Monaco, Consolas, "Courier New", var(--zh-font-family), monospace;
}

/*
*   Card style
*/
:root {
    --card-background: #ECEFF4;
    --card-background-selected: #E5E9F0;

    --card-text-color-main: #2E3440;
    --card-text-color-secondary: #4C566A;
    --card-text-color-tertiary: #4C566A;
    --card-separator-color: rgba(76, 86, 106, 0.5);

    --card-border-radius: 10px;

    --card-padding: 20px;

    @include respond(md) {
        --card-padding: 25px;
    }

    @include respond(xl) {
        --card-padding: 30px;
    }

    --small-card-padding: 25px 20px;

    @include respond(md) {
        --small-card-padding: 25px;
    }

    &[data-scheme="dark"] {
        --card-background: #3B4252;
        --card-background-selected: rgba(255, 255, 255, 0.16);
        --card-text-color-main: rgba(236, 239, 244, 0.9);
        --card-text-color-secondary: rgba(236, 239, 244, 0.7);
        --card-text-color-tertiary: rgba(236, 239, 244, 0.5);
        --card-separator-color: rgba(236, 239, 244, 0.12);
    }
}

/**
*   Article content font settings
*/
:root {
    --article-font-family: var(--base-font-family);
    --article-font-size: 1.6rem;

    @include respond(md) {
        --article-font-size: 1.7rem;
    }

    --article-line-height: 1.85;
}

/*
*   Article content style
*/
:root {
    --blockquote-border-size: 4px;
    --blockquote-background-color: #E5E9F0;

    --heading-border-size: 4px;

    --link-background-color: 143, 188, 187; /* Frost: #8FBCBB */
    --link-background-opacity: 0.5;
    --link-background-opacity-hover: 0.7;

    --pre-background-color: #2E3440;
    --pre-text-color: #ECEFF4;

    --code-background-color: rgba(46, 52, 64, 0.12);
    --code-text-color: #4C566A;

    --table-border-color: #4C566A;
    --tr-even-background-color: #E5E9F0;

    --kbd-border-color: #4C566A;

    &[data-scheme="dark"] {
        --code-background-color: #2E3440;
        --code-text-color: rgba(236, 239, 244, 0.9);

        --table-border-color: #4C566A;
        --tr-even-background-color: #434C5E;

        --blockquote-background-color: #434C5E;
    }
}

/*
*   Shadow style
*   Thanks to https://www.figma.com/community/plugin/744987207861965946/Shadow-picker
*/
:root {
    --shadow-l1: 0px 4px 8px rgba(46, 52, 64, 0.04), 0px 0px 2px rgba(46, 52, 64, 0.06), 0px 0px 1px rgba(46, 52, 64, 0.04);
    --shadow-l2: 0px 10px 20px rgba(46, 52, 64, 0.04), 0px 2px 6px rgba(46, 52, 64, 0.04), 0px 0px 1px rgba(46, 52, 64, 0.04);
    --shadow-l3: 0px 10px 20px rgba(46, 52, 64, 0.04), 0px 2px 6px rgba(46, 52, 64, 0.04), 0px 0px 1px rgba(46, 52, 64, 0.04);
    --shadow-l4: 0px 24px 32px rgba(46, 52, 64, 0.04), 0px 16px 24px rgba(46, 52, 64, 0.04), 0px 4px 8px rgba(46, 52, 64, 0.04),
        0px 0px 1px rgba(46, 52, 64, 0.04);
}

[data-scheme="light"] {
    --pre-text-color: #2E3440;
    --pre-background-color: #E5E9F0;
    @import "partials/highlight/light.scss";
}

[data-scheme="dark"] {
    --pre-text-color: #ECEFF4;
    --pre-background-color: #2E3440;
    @import "partials/highlight/dark.scss";
}

:root {
    --menu-icon-separation: 40px;
    --container-padding: 15px;
    --widget-separation: var(--section-separation);
}
