/*
*   Style: Nord Dark
*/

$color: #ECEFF4;
$background-color: #2E3440;
$error-color: #BF616A;
$keyword-color: #81A1C1;
$text-color: $color;
$name-color: #A3BE8C;
$literal-color: #EBCB8B;

@import "common.scss";
