/*
*   Style: Nord Light
*/

$color: #2E3440;
$background-color: #E5E9F0;
$error-color: #BF616A;
$keyword-color: #5E81AC;
$text-color: #2E3440;
$name-color: #A3BE8C;
$literal-color: #EBCB8B;

@import "common.scss";
